<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="dist/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>

  <title>ParkAssist</title>
</head>

<body ng-app="park" ng-controller="mainController as main">

  <h1>Enter the coordinates of your location: </h1>
    
    <form name="main.addForm" class="form" ng-submit="main.submit()">

      <input type="text" class="form-control" ng-model="main.latitude">
      <input type="text" class="form-control" ng-model="main.longitude">
      
      <h3>Latitude: {{main.latitude}} </h3>
      <h3>Longitude: {{main.longitude}} </h3>

      <button ng-click="main.submit()">Submit</button>

    </form>

<!--
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-aria/angular-aria.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-material/angular-material.js"></script>
  -->

    <script src="dist/app.js"></script>
    <script src="src/app.js"></script>
    <script src="src/services.js"></script>
    <script src="src/mainctrl.js"></script>

</body>
</html>